#root {
  width: 1200px;
  margin: 30px auto;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  display: table;
}

tr,
td,
th {
  border: 1px solid black;
  padding: 0.5em;
}

.job-applicants {
  width: 100%;
}
.job-name {
  text-align: center;
}
.applicant-name {
  width: 150px;
}
